In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [16]:
x1 = pd.ExcelFile('Auditing3Way.xlsx')
x1

In [17]:
s1 = x1.parse(sheetname='purchase orders')
s2= x1.parse('goods received')
s3 = x1.parse('invoices received')
s1

,PO Number,PO Date Raised,PO Supplier,PO Product,PO Quantity,PO Price,PO Value
0,4500000011,2019-03-11,Financial America,Yoghurt,180,25.85,4653.00
1,4500000012,2019-03-11,Refco,Cheese,205,82.68,16949.40
2,4500000013,2019-03-11,IndyMac,Butter,195,59.88,11676.60
3,4500000014,2019-03-11,Pacific Gas and Electric Co.,Cheese,156,82.68,12898.08
4,4500000015,2019-03-11,Thornburg,Cheese,149,82.68,12319.32
...,...,...,...,...,...,...,...
995,4500001006,2019-06-01,"Worldcom, Inc.",Cream,204,72.07,14702.28
996,4500001007,2019-06-01,Financial America,Milk,146,22.95,3350.70
997,4500001008,2019-06-01,MF Global,Icecream,180,43.15,7767.00
998,4500001009,2019-06-01,Thornburg,Icecream,181,43.15,7810.15
999,4500001010,2019-06-01,Refco,Cheese,55,82.68,4547.40

In [40]:
t1 = s1.merge(s2, on='PO Number')
t1
t2 = t1.merge(s3, on= 'PO Number')
t2

,PO Number,PO Date Raised,PO Supplier,PO Product,PO Quantity,PO Price,PO Value,GR Number_x,GR Date Raised,GR Plant,...,GR Quantity,IR Number,IR Employee,GR Number_y,IR Date Received,IR Supplier,IR Product,IR Quantity,IR Price,IR Value
0,4500000011,2019-03-11,Financial America,Yoghurt,180,25.85,4653.00,910064,2019-03-13,AA,...,180,70011,Rod Blagojevich,910064,2019-03-13,Financial America,Yoghurt,180,25.85,4653.00
1,4500000012,2019-03-11,Refco,Cheese,205,82.68,16949.40,910065,2019-03-11,AA,...,205,70012,Rod Blagojevich,910065,2019-03-12,Refco,Cheese,205,82.68,16949.40
2,4500000013,2019-03-11,IndyMac,Butter,195,59.88,11676.60,910066,2019-03-11,AA,...,195,70013,Otto Kerner,910066,2019-03-14,IndyMac,Butter,195,59.88,11676.60
3,4500000014,2019-03-11,Pacific Gas and Electric Co.,Cheese,156,82.68,12898.08,910067,2019-03-12,AA,...,156,70014,Rod Blagojevich,910067,2019-03-15,Pacific Gas and Electric Co.,Cheese,156,82.68,12898.08
4,4500000015,2019-03-11,Thornburg,Cheese,149,82.68,12319.32,910068,2019-03-15,AA,...,149,70015,Dan Walker,910068,2019-03-15,Thornburg,Cheese,149,82.68,12319.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4500001006,2019-06-01,"Worldcom, Inc.",Cream,204,72.07,14702.28,911059,2019-06-01,AA,...,204,71006,Dennis Hastert,911059,2019-06-02,"Worldcom, Inc.",Cream,204,72.07,14702.28
996,4500001007,2019-06-01,Financial America,Milk,146,22.95,3350.70,911060,2019-06-03,AA,...,146,71007,Rod Blagojevich,911060,2019-06-05,Financial America,Milk,146,22.95,3350.70
997,4500001008,2019-06-01,MF Global,Icecream,180,43.15,7767.00,911061,2019-06-03,AA,...,180,71008,George Ryan,911061,2019-06-05,MF Global,Icecream,180,43.15,7767.00
998,4500001009,2019-06-01,Thornburg,Icecream,181,43.15,7810.15,911062,2019-06-04,AA,...,181,71009,Dan Walker,911062,2019-06-01,Thornburg,Icecream,181,43.15,7810.15
999,4500001010,2019-06-01,Refco,Cheese,55,82.68,4547.40,911063,2019-06-02,AA,...,55,71010,George Ryan,911063,2019-06-03,Refco,Cheese,55,82.68,4547.40

In [19]:
set(t2['IR Employee'])

{'Dan RostenkowskI',
 'Dan Walker',
 'Dennis Hastert ',
 'George Ryan',
 'Otto Kerner',
 'Rod Blagojevich'}

In [36]:
for row, invoice in t2.iterrows():
    poQu = invoice['PO Quantity']
    poPr = invoice['PO Price']
    grQu = invoice['GR Quantity']
    invQu = invoice['IR Quantity']
    invPr = invoice['IR Price']
    invPaid = round(invoice['IR Value'],2)
    invNum = invoice['IR Number']
    
    supplier = invoice['PO Supplier']
    employee = invoice['IR Employee']
    received = round(grQu * poPr,2)

    isGRQuok = invQu == grQu
    isPOQuok = poQu == grQu
    isPriceok = invPr == poPr
    isPaidok = invPaid == received

    if not isGRQuok: 
        print('GR Qty Anamoly', invNum, supplier, employee, poQu, grQu, invQu, invPr, poPr, received, invPaid, sep="|")
    if not isPOQuok: 
        print('PO Qty Anamoly', invNum, supplier, employee, poQu, grQu, invQu, invPr, poPr, received, invPaid, sep="|")
    if not isPriceok: 
        print('Price Anamoly', invNum, supplier, employee, poQu, grQu, invQu, invPr, poPr, received, invPaid, sep="|")
    if not isPaidok: 
        print('Paid Anamoly', invNum, supplier, employee, poQu, grQu, invQu, invPr, poPr, received, invPaid, sep="|")

Price Anamoly|70020|Washington Mutual|Otto Kerner|150|150|150|24.95|22.95|3442.5|3742.5
Paid Anamoly|70020|Washington Mutual|Otto Kerner|150|150|150|24.95|22.95|3442.5|3742.5
Paid Anamoly|70022|Thornburg|Rod Blagojevich|204|204|204|43.15|43.15|8802.6|9802.6
GR Qty Anamoly|70048|Washington Mutual|Otto Kerner|93|107|106|59.88|59.88|6407.16|6347.28
PO Qty Anamoly|70048|Washington Mutual|Otto Kerner|93|107|106|59.88|59.88|6407.16|6347.28
Paid Anamoly|70048|Washington Mutual|Otto Kerner|93|107|106|59.88|59.88|6407.16|6347.28
GR Qty Anamoly|70113|Washington Mutual|Otto Kerner|168|179|186|82.68|82.68|14799.72|15378.48
PO Qty Anamoly|70113|Washington Mutual|Otto Kerner|168|179|186|82.68|82.68|14799.72|15378.48
Paid Anamoly|70113|Washington Mutual|Otto Kerner|168|179|186|82.68|82.68|14799.72|15378.48
Price Anamoly|70177|Washington Mutual|Otto Kerner|246|246|246|34.85|25.85|6359.1|8573.1
Paid Anamoly|70177|Washington Mutual|Otto Kerner|246|246|246|34.85|25.85|6359.1|8573.1
Price Anamoly|70408|Washington Mutual|Otto Kerner|138|138|138|79.07|72.07|9945.66|10911.66
Paid Anamoly|70408|Washington Mutual|Otto Kerner|138|138|138|79.07|72.07|9945.66|10911.66
GR Qty Anamoly|70441|Washington Mutual|Otto Kerner|60|70|72|25.85|25.85|1809.5|1861.2
PO Qty Anamoly|70441|Washington Mutual|Otto Kerner|60|70|72|25.85|25.85|1809.5|1861.2
Paid Anamoly|70441|Washington Mutual|Otto Kerner|60|70|72|25.85|25.85|1809.5|1861.2
Price Anamoly|70627|Washington Mutual|Otto Kerner|84|84|84|27.95|22.95|1927.8|2347.8
Paid Anamoly|70627|Washington Mutual|Otto Kerner|84|84|84|27.95|22.95|1927.8|2347.8
Paid Anamoly|70724|Washington Mutual|Otto Kerner|69|69|69|72.07|72.07|4972.83|5972.83
Price Anamoly|70725|Washington Mutual|Otto Kerner|164|164|164|53.15|43.15|7076.6|8716.6
Paid Anamoly|70725|Washington Mutual|Otto Kerner|164|164|164|53.15|43.15|7076.6|8716.6
Paid Anamoly|70759|Washington Mutual|Otto Kerner|191|191|191|82.68|82.68|15791.88|16791.88
GR Qty Anamoly|70846|Washington Mutual|Otto Kerner|184|195|202|72.07|72.07|14053.65|14558.14
PO Qty Anamoly|70846|Washington Mutual|Otto Kerner|184|195|202|72.07|72.07|14053.65|14558.14
Paid Anamoly|70846|Washington Mutual|Otto Kerner|184|195|202|72.07|72.07|14053.65|14558.14
GR Qty Anamoly|70867|Washington Mutual|Otto Kerner|232|232|251|59.88|59.88|13892.16|15029.88
Paid Anamoly|70867|Washington Mutual|Otto Kerner|232|232|251|59.88|59.88|13892.16|15029.88
Price Anamoly|70878|Washington Mutual|Otto Kerner|188|188|188|91.68|82.68|15543.84|17235.84
Paid Anamoly|70878|Washington Mutual|Otto Kerner|188|188|188|91.68|82.68|15543.84|17235.84
Price Anamoly|70977|Washington Mutual|Otto Kerner|85|85|85|27.85|25.85|2197.25|2367.25
Paid Anamoly|70977|Washington Mutual|Otto Kerner|85|85|85|27.85|25.85|2197.25|2367.25

##### for row, invoice in t2.iterrows():
    poQu = invoice['PO Quantity']
    poPr = invoice['PO Price']
    grQu = invoice['GR Quantity']
    invQu = invoice['IR Quantity']
    invPr = invoice['IR Price']
    invPaid = round(invoice['IR Value'],2)
    invNum = invoice['IR Number']
    
    supplier = invoice['PO Supplier']
    employee = invoice['IR Employee']
    received = round(grQu * poPr,2)

    isGRQuok = invQu == grQu
    isPOQuok = poQu == grQu
    isPriceok = invPr == poPr
    isPaidok = invPaid == received
    anamoly = (isGRQuok and isPOQuok) and (isPriceok and isPaidok)
    
    if not anamoly:
        print(invNum, employee, supplier, received, invPaid, isGRQuok, isPOQuok, isPriceok, isPaidok, anamoly, sep='|')
   
    #c.writerow([inv['IR Number'], 'recieved', 'invPiad', 'isGRQok', 'isPOQuok', 'isPriceok', 'isPaidok', 'Anamoly',])

In [ ]:
s2

In [ ]:
s3